#map-canvas{
	width: 100%;
	height: 300px;
}
#places-content{
	padding: 0;
	width: 100%;
	height: 100%;
	color: #000;
}
.markerNameInfo{
	color: #0CA2FF;
	min-height: 2px;
	margin-bottom: 3px;
	text-align: center;
	border-bottom: 1px solid #0CA2FF;
}
#places-tabs{
	color: #fff;
	padding: 5px;
	margin-top: 5px;
}
.places-tabs-content{
	padding: 5px;
	color: #424345;
}
.places-container{
	padding: 5px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	margin-top: 3px;
	background: #fff;
	font-size: 12px;
}
.places-img-container, .places-name, .places-rate{
	display: inline-block;
	vertical-align: middle;
}
.places-name{
	min-width: 50%;
	text-align: center;
}
.places-buttons button{
	font-size: 11px;
	width: 49%;
	display: inline-block;
	
}
.places-buttons button:first-of-type{
	margin-right: 2%;
}
.places-description{
	color: #0CA2FF;
	padding: 2px 2px;
}