p,h1,h2,h3,h4,h5,img,div,section{
	margin: 0;
	padding: 0;
}
.logo-container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 60px;
}

.logo-container  img {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}
.text-center{
	text-align: center;
}
#login-page {
	max-width: 600px;
	margin: 0 auto;

}
#login-page div[data-role=content]{
	position: absolute;
	top: 42%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.main-left-data, .main-right-data{
	display: inline-block;
	vertical-align: top;
}
.main-left-data{
	width: 20%;
}
.main-right-data{
	width: 70%;
	padding: 8px;
	text-align: center;
}
#main-img-container, #user-main-img-container{
	padding: 2px;
	border: 1px solid #eaeaea;
	background: #fff;
	border-radius: 5px;
}
.text-center{
	text-align: center;
}
#main-img-container img, #user-main-img-container img{
	margin: 0 auto;
	width: 100%;
	max-height: 200px;
	border-radius: 5px;
}
.main-achievement{
	color: #424345;
	background: #fff;
	border: 1px solid #eaeaea;
	margin-top: 8px;
	padding: 8px;
	border-radius: 5px;
}
.achievement-author{
	font-size: 0.9em;
	color: #0CA2FF;
}
.achievement-points{
	padding-top: 2px;
	font-size: 0.8em;
	color: #7ccc31;
}
.achievement-description{
	text-align: center;
	border-bottom: 1px solid #eaeaea;
}
.dog-container{
	padding: 8px;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	background-color: #fff;
	color: #424345;
	text-align: center;
}
.dog-img-container{
	width: 100%;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}
.dog-img-container img{
	width: 95%;
	margin: 0 auto;
	padding: 5px;
	border-radius: 8px;
}
.dog-field{
	padding-top: 2px;
	padding-bottom: 4px;
}
.edit-dog-field-title{
	padding-left: 5px;
}
.edit-btn{
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
}