p,h1,h2,h3,h4,h5,img,div,section{
	margin: 0;
	padding: 0;
}
.logo-container {
    width: 90%;
    margin-left: 5%;
}

.logo-container  img {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}
.text-center{
	text-align: center;
}
#login-page {
	max-width: 600px;
	margin: 0 auto;

}
#login-page div[data-role=content]{
	position: absolute;
	top: 42%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.dog-container{
	width: 95%;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	background-color: #fff;
	color: #424345;
	text-align: center;
}
.dog-img-container{
	width: 95%;
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
}
.dog-img-container img{
	width: 95%;
	padding: 5px;
	border-radius: 8px;
}
.dog-field{
	padding-top: 2px;
	padding-bottom: 4px;
}
.edit-dog-field-title{
	padding-left: 5px;
}
.edit-btn{
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}
#map-canvas{
	width: 100%;
	height: 300px;
	border: 1px solid #eaeaea;
}
#places-content{
	padding: 0;
	width: 100%;
	height: 100%;
}